:root {
  scroll-behavior: smooth;
}

.navbar .site-name {
  display: none;
}

@media (max-width: 419px) {
  .home .hero .action-button:not(:first-child) {
    margin-left: 0;
  }
  
  .home .hero .action-button {
    width: 75%;
    margin: 0.5rem 0;
  }
}
